---
interface Props {
	title: string;
	body: string;
	href: string;
    asset: string;
    button:string
   
}
const { href, title, body, asset,button } = Astro.props;
---
<div class="bg-primary row rounded-2 ">
    <div class="col-xl-8 p-lg-4 p-2 mt-4 text-center text-xl-start ">
            <h3 class="text-white  d-none d-md-block">{title}</h3>
            <p class="text-white-50">{body}</p>
        <a href={href} class="btn btn-outline-light my-3 px-md-5 py-2">{button}</a>
    </div>
    <div class="col-xl-4 d-none d-xl-block">
        {asset && <img class="mt-5" width="150" height="208" src={asset} />}
    </div>
</div>
